* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 1.2em sans-serif;
  background-color: rgb (0 0 0)
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.page-header,
.page-footer {
  background-color: rgb(0 0 0);
  color: white;
  padding: 20px;

  flex-grow: 0;
  flex-shrink: 0;
}

.page-body {
  background-color: rgb(50 50 50);
  color: rgb(255 255 255)
  padding: 20px;

  flex-grow: 1;
}

.page-body p {
  border: 1px solid grey;
}

.body-text {
color: rgb(255 255 255)
}
.btn {
  background: #3c3c3c;
  background-image: -webkit-linear-gradient(top, #3c3c3c, #343434);
  background-image: -moz-linear-gradient(top, #3c3c3c, #343434);
  background-image: -ms-linear-gradient(top, #3c3c3c, #343434);
  background-image: -o-linear-gradient(top, #3c3c3c, #343434);
  background-image: linear-gradient(to bottom, #3c3c3c, #343434);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #000000;
  text-decoration
