*  {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: rgb(40,40,40)
  height: 100%;
  font: 1.2em sans-serif;
  color: rgb(255,255,255)
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.page-header, .page-footer {
  background-color: rgb(0,0,0)
  color: rgb(255,255,255)
  padding: 15px
}
.page-body {
padding: 15px
}

.page-body about-content {

}
